html {
  box-sizing: border-box;
  font-family: 'Roboto',
  sans-serif;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  background-color: #e0eaeb;
  margin: 0;
}
a {
  text-decoration: none;
}
/*============ Globales ============*/
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
h1 {
  font-size: 5em;
  font-family: 'Poppins',
  sans-serif;
  font-weight: 800;
  margin: 0;
}
h2 {
  font-family: 'Poppins',
  sans-serif;
  font-size: 2em;
  margin: 0;
}
h3 {
  font-size: 4em;
  font-family: 'Oswald',
  sans-serif;
  font-weight: 300;
  margin: 0;
}
p {
  
  margin: 0;
}
.boton{
  padding: 20px 40px;
  margin-right: 50px;
  border-radius: 10px;
  transition: all .3s ease;
}
input {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  margin: 10px;
}
input[type="submit"]{
  background-color: #027edb;
  color: #ffffff;
  border-style: none;
  margin-left: 40px;
}
input[type="submit"]:hover{
  cursor: pointer;
  color: #ffffff;
  background-color: #014e87;
  transition: all .3s ease;
}


/* ================= Barra Navegación ============= */
.barra {
  background-color: #ffffff;
}
.barra-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-home a img{
  width: 240px;
}

.nav-home a{
  margin-right: 20px;
  color: black;
  font-size: 1.3em;
  font-weight: 500;
  font-size: 2em;
}
.nav-home a:last-child{
  margin-right: 0;
}
.nav-home a:hover{
  color: #004aad;
}

/* =============== Main Section =================*/
.main-section-home{
  height: 100vh;
}
.background-dogs {
  background-image: url(../img/perros.png);
  background-position: bottom center;
  background-size: cover;
}
.main-section-home h1 {
  margin-top: 60px;
}
.botones{
  margin-top: 50px;
}
.botones a{
  font-size: 1.3em;
  font-weight: 500;
}
.btn1{
  background-color: #ff5e2b;
  color: white;
}
.btn1:hover{
  background-color: #cc3300;
}
.btn2{
  background-color: #a3ef00;
  color: black;
}
.btn2:hover {
  background-color: #73aa00;
  color: white;
}
.img-perros{
  width: 100%;
  align-items: center;
  text-align: center;
}

/* =============== Iniciar Sesión y Registro ============== */
.formulario, .perfil-seccion{
  max-width: 600px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}
.formulario form {
  margin: 30px 0;
}
.formulario label i {
  font-size: 1.5em;
}

.botones-iniciar-sesion {
  display: flex;
  align-items: center;
}

.botones-iniciar-sesion a{
  flex-basis: calc(50% - 1rem);
  background-color: #027edb;
  color: #ffffff;
  margin: 30px auto;
  padding: 10px 40px;
  text-align: center;
}

.botones-iniciar-sesion input[type="submit"] {
  height: 100%;
  flex-basis: calc(50% - 1rem);
  margin: 30px auto;
}

.botones-registrate {
  display: flex;
  align-items: center;
}

.botones-registrate a{
  flex-basis: calc(50% - 1rem);
  background-color: #027edb;
  color: #ffffff;
  margin: 30px auto;
  padding: 10px 40px;
  text-align: center;
}

.botones-registrate input[type="submit"] {
  height: 100%;
  flex-basis: calc(50% - 1rem);
  margin: 30px auto;
}

/* Perfil */
.perfil-seccion h3 {
  font-family: 'Poppins',
  sans-serif;
  font-size: 1.5em;
}

.img-perfil {
  height: 150px;
  border-radius: 50%;
}

.secciones-perfil {
  text-align: center;
}

.secciones-perfil a{
  display: block;
  width: 250px;
  background-color: #027edb ;
  color: #ffffff;
  margin: 30px auto;
  padding: 10px 40px;
}

.secciones-perfil a:hover {
  background-color: #014e87;
}

/* Perfil settings*/
.perfil-settings-seccion {
  padding: 50px;
}

.hd-perfil-settings-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd-perfil-settings-seccion img {
  height: 70px;
}

.botones-perfil-settings {
  display: flex;
  align-items: center;
}

.botones-perfil-settings a{
  flex-basis: calc(50% - 1rem);
  background-color: #027edb;
  color: #ffffff;
  margin: 30px auto;
  padding: 10px 40px;
  text-align: center;
}

.botones-perfil-settings input[type="submit"] {
  height: 100%;
  flex-basis: calc(50% - 1rem);
  margin: 30px auto;
}

.perfil-settings-seccion form {
  text-align: left;
}

/* Mascotas */
.mascota{
  max-width: 600px;
  background-color: #ffffff;
  margin: 5px auto;
  padding: 25px 15px;
  text-align: center;
  margin-top: 20px;
}

.mascota_seccion{
  max-width: 200px auto;
}

.img-mascota {
  height: 95px;
  border-radius: 50%;
}

.secciones-mascota a{
  display: block;
  width: 170px;
  background-color: #027edb ;
  color: #ffffff;
  margin: 10px auto;
  padding: 6px 10px;
}

.secciones-mascota a:hover {
  background-color: #014e87;
}

/* Mascotas-Settig */

.botones-mascota-settings {
  display: flex;
  align-items: center;
}

.botones-mascota-settings a{
  flex-basis: calc(50% - 1rem);
  background-color: #027edb;
  color: #ffffff;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}

.botones-mascota-settings input[type="submit"] {
  height: 80%;
  flex-basis: calc(50% - 1rem);
  margin: 20px;
}
